{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Chris & Becca</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <style>
        .error {
            border: red solid 2px !important;
        }

        .error_text {
            color: #ffda22;
        }
    </style>
    <noscript>
        <link rel="stylesheet" href="{% static 'css/noscript.css' %}"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Panel (Banner) -->
        <section class="panel banner right">
            <div class="content color0 span-3-75">
                <h1 class="major">Chris & Becca<br/>
                    Get Married!</h1>
                <p>Becca Beddingfield and Chris Jones are getting married! We are excited share this day with you. </p>
                {#                <p>Click next for more information.</p>#}
                {#                <ul class="actions">#}
                {#                    <li><a href="#information" class="button primary color1 circle icon solid fa-angle-right">Next</a></li>#}
                {#                </ul>#}
            </div>
            <div class="image filtered span-2-75" data-position="25% 25%">
                <img src="{% static 'images/chris_becca001.jpg' %}"/>
            </div>
        </section>

        <!-- Panel -->
        <section class="panel color1">
            <div class="inner columns aligned">
                <div class="span-2-75 sp">
                    <h2 class="major">RSVP</h2>
                    <form id="rsvp" action="{% url 'rsvp_view' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="fields">
                            <div class="field half">
                                <input type="text" name="rsvp_name" id="rsvp_name" placeholder="Name"/>
                            </div>
                            <div class="field half">
                                <input type="email" name="rsvp_email" id="rsvp_email" placeholder="Email"/>
                            </div>
                            <div class="field">
                                <select name="rsvp_attendees" id="rsvp_attendees">
                                    <option value="-">How many attendees in your party?</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                </select>
                            </div>
                            <div class="field" id="field_error">
                                Please enter the number of people next to the food choice.
                            </div>
                            <div class="field third">
                                <label for="rsvp_pork">Bacon Wrapped Pork</label>
                                {#                                <input class="food_choice" type="text" name="pork" id="pork" disabled>#}
                                <select class='food_choice' name="rsvp_pork" id="rsvp_pork" disabled>
                                    <option value="0">--</option>
                                </select>
                            </div>
                            <div class="field third">
                                <label for="rsvp_chicken">Hazelnut Chicken</label>
                                <select class='food_choice' name="rsvp_chicken" id="rsvp_chicken" disabled>
                                    <option value="0">--</option>
                                </select>
                                {#                                <input class="food_choice" type="text" name="chicken" id="chicken" disabled>#}
                            </div>
                            <div class="field third">
                                <label for="rsvp_vegetarian">Vegetarian</label>
                                {#                                <input class="food_choice" type="text" name="vegetarian" id="vegetarian" disabled>#}
                                <select class='food_choice' name="rsvp_vegetarian" id="rsvp_vegetarian" disabled>
                                    <option value="0">--</option>
                                </select>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="RSVP" class="button primary"/></li>
                        </ul>
                    </form>
                </div>
            </div>

        </section>

        <!-- Panel (Spotlight) -->
        <section class="panel spotlight medium right" id="first">
            <div class="content span-9">
                <h2 class="major">Date and Location</h2>
                <p>Our ceremony will begin 3:30 PM at Pringle Hall in Salem Oregon on April 4, 2020.</p>
                <p>
                    <a href="https://www.google.com/maps/place/Pringle+Hall+Community+Center/@44.9339539,-123.0377387,15z/data=!4m2!3m1!1s0x0:0x765b3e4c31936c2e?sa=X&ved=2ahUKEwj10smfkv_kAhW1JzQIHZF-DIQQ_BIwCnoECBAQCA"
                       target="_blank">606 Church St SE <br>
                        Salem, OR 97301</a></p>
            </div>
            <div class="image filtered tinted" data-position="top left">
                <img src="{% static 'images/blue-sky.jpg' %}"/>
            </div>
        </section>

        <!-- Panel -->
        <section class="panel color1">
            <div class="inner columns aligned">
                <div class="span-1-75">
                    <h2 class="major">How we met</h2>
                    <p>It was a dark and stormy evening. Becca was headed to Destination Nowhere. Chris, nerd agent of
                        mirth, happened upon our damsel (who would rather not be called a damsel thank you very
                        much). </p>
                    <p>Performing the sacred bow of his people with a deep flourish, he said, "M'lady." Becca having
                        none of this challenged him to a duel. For hours they battled and yet grew no closer to the
                        age-old question, Picard or Sisco? </p>
                </div>
                <div class="span-1-75">
                    <h2 class="major">&nbsp;</h2>
                    <p>Having met their match, Chris and Becca agreed to a peacetime settlement. They would agree to
                        disagree until such time as a new and stronger captain would emerge.</p>
                    <p>J/K. They met online and are huge nerds.</p>
                </div>
            </div>

        </section>

        <!-- Panel (Spotlight) -->
        <section class="panel spotlight large left" id="information">
            <div class="content span-1">
                <h2 class="major">Chris & Becca Get Married!</h2>
            </div>
            <div class="image filtered tinted" data-position="top right">
                <img src="{% static 'images/for_web/chris_and_becca_0032-min.jpg' %}"/>
            </div>
        </section>

        <!-- Panel -->
        <section class="panel">
            <div class="intro color2">
                <h2 class="major">Photos</h2>
                <p>We want you to send us wedding photos you take!</p>
                <p>You can upload them right here!
                <form action="{% url 'upload_photos' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="images" multiple>
                    <input type="submit" class="button primary">
                </form>
                </p>
            </div>
            <div class="gallery">
                <div class="group span-3">
                    <a href="{% static 'images/for_web/chris_and_becca_0001-min.jpg' %}" class="image filtered span-3"
                       data-position="bottom"><img
                            src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0001-min.jpg' %}"/></a>
                    <a href="{% static 'images/for_web/chris_and_becca_0002-min.jpg' %}" class="image filtered span-1-5"
                       data-position="center"><img
                            src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0002-min.jpg' %}"/></a>
                    <a href="{% static 'images/for_web/chris_and_becca_0011-min.jpg' %}" class="image filtered span-1-5"
                       data-position="bottom"><img
                            src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0011-min.jpg' %}"/></a>
                </div>
                <a href="{% static 'images/for_web/chris_and_becca_0004-min.jpg' %}" class="image filtered span-2-5"
                   data-position="top"><img
                        src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0004-min.jpg' %}"/></a>
                <div class="group span-4-5">
                    <a href="{% static 'images/for_web/chris_and_becca_0012-min.jpg' %}" class="image filtered span-3"
                       data-position="top"><img
                            src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0012-min.jpg' %}"/></a>
                    <a href="{% static 'images/for_web/chris_and_becca_0006-min.jpg' %}" class="image filtered span-1-5"
                       data-position="center"><img
                            src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0006-min.jpg' %}"/></a>
                    <a href="{% static 'images/for_web/chris_and_becca_0007-min.jpg' %}" class="image filtered span-1-5"
                       data-position="bottom"><img
                            src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0007-min.jpg' %}"/></a>
                    <a href="{% static 'images/for_web/chris_and_becca_0013-min.jpg' %}" class="image filtered span-3"
                       data-position="top"><img
                            src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0013-min.jpg' %}"/></a>
                </div>
                <a href="{% static 'images/for_web/chris_and_becca_0010-min.jpg' %}" class="image filtered span-2-5"
                   data-position="right">
                    <img src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0010-min.jpg' %}"/></a>
                {#                <div id="gallery1">#}
                {#                    {% for i in images %}#}
                {#                        <a href="{{ i.image.url }}" class="image filtered span-2-5" data-position="center">#}
                {#                        <img src="{{ i.thumbnail.url }}"/></a>#}
                {#                    {% endfor %}#}
                {#                </div>#}
            </div>
        </section>

        <!-- Panel -->
        <section class="panel color4-alt">
            <div class="intro color4">
                <h2 class="major">Contact</h2>
                <p>If you have any questions you can contact us here.</p>
            </div>
            <div class="inner columns divided">
                <div class="span-3-25">
                    <form id="contactForm" method="post" action="{% url 'contact_view' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="g-recaptcha"
                             data-sitekey="yourKey"
                             data-callback="onSubmit"
                             data-size="invisible">
                        </div>
                        <div class="fields">
                            <div class="field half">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name"/>
                            </div>
                            <div class="field half">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email"/>
                            </div>
                            <div class="field">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" rows="4"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="button primary"/></li>
                        </ul>
                    </form>
                </div>
                <div class="span-1-5">
                    {#										<ul class="contact-icons color1">#}
                    {#											<li class="icon brands fa-twitter"><a href="#">@untitled-tld</a></li>#}
                    {#											<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled</a></li>#}
                    {#											<li class="icon brands fa-snapchat-ghost"><a href="#">@untitled-tld</a></li>#}
                    {#											<li class="icon brands fa-instagram"><a href="#">@untitled-tld</a></li>#}
                    {#											<li class="icon brands fa-medium-m"><a href="#">medium.com/untitled</a></li>#}
                    {#										</ul>#}
                </div>
            </div>
        </section>

        <!-- Copyright -->
        <div class="copyright">&copy; Dark Matter Software.</div>

    </div>

</div>

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onLoad&render=explicit" async defer />

<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');


    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    let people_num;

    let inputs = $('.food_choice');

    function check_people() {
        if (people_num > 0) {
            inputs.prop("disabled", false);
        } else {
            inputs.prop("disabled", true).val('');

        }
    }

    function set_choice_numbers() {
        inputs.html(`<option value="0">--</option>`);
        $.each(inputs, function (index, val) {
            for (let i = 0; i < people_num; i++) {
                $(val).append(`<option value="${i + 1}">${i + 1}</option>`)
            }
        })
    }

    $('#rsvp_attendees').change(function (e) {
        people_num = this.value;
        check_people();
        set_choice_numbers();
    });

    $('#rsvp').submit(function (e) {
        e.preventDefault();
        let name = false;
        let email = false;
        let attendees = false;
        let food = false;
        let total = 0;

        $.each(inputs, function (index, val) {
            total += parseInt($(val).val(), 10);
        });

        if ($('#rsvp_name').val().length <= 0) {
            $('#rsvp_name').addClass('error');
            name = false;
        } else {
            $('#rsvp_name').removeClass('error');
            name = true;
        }

        if ($('#rsvp_email').val().length <= 0) {
            $('#rsvp_email').addClass('error');
            email = false;
        } else {
            $('#rsvp_email').removeClass('error');
            email = true;
        }

        if ($('#rsvp_attendees').val() === '-') {
            $('#rsvp_attendees').addClass('error');
            attendees = false;
        } else {
            $('#rsvp_attendees').removeClass('error');
            attendees = true;
        }

        if (($('#rsvp_pork').val() === '--' && $('#rsvp_chicken').val() === '--' && $('#rsvp_vegetarian').val() === '--') || total > people_num || total < people_num) {
            inputs.addClass('error');
            if (total > people_num) {
                $('#field_error').html('You have chosen more food then the number of people in your party. Please check your food reservations. Thanks!')
                    .addClass('error_text');
                food = false;
            } else if (total < people_num) {
                $('#field_error').html('You have chosen less food then the number of people in your party. Please check your food reservations. Thanks!')
                    .addClass('error_text');
                food = false;
            }
        } else {
            inputs.removeClass('error');
            $('#field_error').html('Please enter the number of people next to the food choice.')
                .removeClass('error_text');
            food = true;
        }
        if (name && email && attendees && food) {
            let form = $(this);
            $.ajax({
                url: `{% url 'rsvp_view' %}`,
                type: 'post',
                data: form.serialize(),
                success: function (resp) {
                    if (resp.message === 'success') {
                         $('#field_error')
                             .html('Thank you!')
                            .addClass('error_text');
                         $('#rsvp_submit').val('Thanks!').prop('disabled', true);
                    }
                }
            })

        }
    });
</script>
</body>
</html>