{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Chris & Becca</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <noscript>
        <link rel="stylesheet" href="{% static 'css/noscript.css' %}"/>
    </noscript>

{#    <link rel="stylesheet" href="{% static 'js/unitegallery/css/unite-gallery.css' %}"/>#}


</head>
<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Panel (Banner) -->
        <section class="panel banner right">
            <div class="content color0 span-3-75">
                <h1 class="major">Chris & Becca<br/>
                    Get Married!</h1>
                <p>Becca Beddingfield and Chris Jones are getting married! We are excited share this day with you. </p>
                <p>Click next for more information.</p>
                <ul class="actions">
                    <li><a href="#information" class="button primary color1 circle icon solid fa-angle-right">Next</a></li>
                </ul>
            </div>
            <div class="image filtered span-1-75" data-position="25% 25%">
                <img src="{% static 'images/chris_becca001.jpg' %}"/>
            </div>
        </section>

        <!-- Panel (Spotlight) -->
        <section class="panel spotlight medium right" id="first">
            <div class="content span-7">
                <h2 class="major">Date and Location</h2>
                <p>Our ceremony will begin at 3PM in Pringle Hall in Salem Oregon on April 4, 2020.</p>
                <p><a href="https://www.google.com/maps/place/Pringle+Hall+Community+Center/@44.9339539,-123.0377387,15z/data=!4m2!3m1!1s0x0:0x765b3e4c31936c2e?sa=X&ved=2ahUKEwj10smfkv_kAhW1JzQIHZF-DIQQ_BIwCnoECBAQCA" target="_blank">606 Church St SE <br>
                    Salem, OR 97301</a></p>
            </div>
            <div class="image filtered tinted" data-position="top left">
                <img src="{% static 'images/blue-sky.jpg' %}"/>
            </div>
        </section>

        <!-- Panel -->
        <section class="panel color1">
            <div class="intro joined">
                <h2 class="major">How we met</h2>
                <p>It was a dark and stormy evening. Becca was headed to destination nowhere. Chris, nerd agent of mirth, happened upon our damsel (who would rather not be called a damsel thank you very much). Performming the secred bow of his people with a deep flourish he said, "M'lady".</p>
                <p>Becca having none of this challenged him to a duel. For hours they battled and yet grew no closer to the age old question, Picard or Sisco? </p>
            </div>
            <div class="intro joined">
               <p>Having met their match, they agreed to a piece time settlement. They would agree to disagree until such
                time as new and stronger captain would emerge.</p>
                <p>J/K. They met online and are huge nerds.</p>
            </div>
        </section>

        <!-- Panel (Spotlight) -->
        <section class="panel spotlight large left" id="information">
            <div class="content span-5">
                <h2 class="major">Chris & Becca Get Married!</h2>
                <p>We invite you to share our celebration!</p>
            </div>
            <div class="image filtered tinted" data-position="top right">
                <img src="{% static 'images/for_web/chris_and_becca_0032-min.jpg' %}"/>
            </div>
        </section>

        <!-- Panel -->
        <section class="panel">
            <div class="intro color2">
                <h2 class="major">Photos</h2>
                <p>We want you to send us wedding photos you take!</p>
                <p>You can upload them right here!
                <form action="{% url 'upload_photos' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="images" multiple>
                    <input type="submit">
                </form>
                </p>
            </div>
            <div class="gallery">
                <div class="group span-3">
                    <a href="{% static 'images/for_web/chris_and_becca_0001-min.jpg' %}" class="image filtered span-3"
                       data-position="bottom"><img
                            src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0001-min.jpg' %}"/></a>
                    <a href="{% static 'images/for_web/chris_and_becca_0002-min.jpg' %}" class="image filtered span-1-5"
                       data-position="center"><img
                            src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0002-min.jpg' %}"/></a>
                    <a href="{% static 'images/for_web/chris_and_becca_0011-min.jpg' %}" class="image filtered span-1-5"
                       data-position="bottom"><img
                            src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0011-min.jpg' %}"/></a>
                </div>
                <a href="{% static 'images/for_web/chris_and_becca_0004-min.jpg' %}" class="image filtered span-2-5"
                   data-position="top"><img
                        src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0004-min.jpg' %}"/></a>
                <div class="group span-4-5">
                    <a href="{% static 'images/for_web/chris_and_becca_0012-min.jpg' %}" class="image filtered span-3"
                       data-position="top"><img
                            src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0012-min.jpg' %}"/></a>
                    <a href="{% static 'images/for_web/chris_and_becca_0006-min.jpg' %}" class="image filtered span-1-5"
                       data-position="center"><img
                            src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0006-min.jpg' %}"/></a>
                    <a href="{% static 'images/for_web/chris_and_becca_0007-min.jpg' %}" class="image filtered span-1-5"
                       data-position="bottom"><img
                            src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0007-min.jpg' %}"/></a>
                    <a href="{% static 'images/for_web/chris_and_becca_0013-min.jpg' %}" class="image filtered span-3"
                       data-position="top"><img
                            src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0013-min.jpg' %}"/></a>
                </div>
                <a href="{% static 'images/for_web/chris_and_becca_0010-min.jpg' %}" class="image filtered span-2-5"
                   data-position="right">
                    <img src="{% static 'images/for_web/_thumbs/th_chris_and_becca_0010-min.jpg' %}"/></a>
{#                <div id="gallery1">#}
{#                    {% for i in images %}#}
{#                        <a href="{{ i.image.url }}" class="image filtered span-2-5" data-position="center">#}
{#                        <img src="{{ i.thumbnail.url }}"/></a>#}
{#                    {% endfor %}#}
{#                </div>#}
            </div>
        </section>

        <!-- Panel -->
        <section class="panel color4-alt">
            <div class="intro color4">
                <h2 class="major">Contact</h2>
                <p>If you have any questions you can contact us here.</p>
            </div>
            <div class="inner columns divided">
                <div class="span-3-25">
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name"/>
                            </div>
                            <div class="field half">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email"/>
                            </div>
                            <div class="field">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" rows="4"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="button primary"/></li>
                        </ul>
                    </form>
                </div>
                <div class="span-1-5">
                    {#										<ul class="contact-icons color1">#}
                    {#											<li class="icon brands fa-twitter"><a href="#">@untitled-tld</a></li>#}
                    {#											<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled</a></li>#}
                    {#											<li class="icon brands fa-snapchat-ghost"><a href="#">@untitled-tld</a></li>#}
                    {#											<li class="icon brands fa-instagram"><a href="#">@untitled-tld</a></li>#}
                    {#											<li class="icon brands fa-medium-m"><a href="#">medium.com/untitled</a></li>#}
                    {#										</ul>#}
                </div>
            </div>
        </section>

        <!-- Copyright -->
        <div class="copyright">&copy; Dark Matter Software.</div>

    </div>

</div>

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>
<script src="{% static 'js/breakpoints.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{#<script src="{% static 'js/unitegallery/js/unitegallery.js' %}"></script>#}
{#<script src="{% static 'js/unitegallery/themes/tiles/ug-theme-tiles.js' %}"></script>#}

<script type="text/javascript">

        {#jQuery(document).ready(function(){#}
		{#		jQuery("#gallery1").unitegallery({#}
        {#            gallery_theme: "tiles",#}
        {#            theme_appearance_order: 'shuffle',#}
        {#            gallery_width:"100%",#}
        {#        });#}
		{#	});#}


</script>
</body>
</html>